.org-details-section {
  margin-top: 1em;
}

.org-details-header {
  font-weight: bold;
}

.org-details-content {
  margin-bottom: 1em;
  white-space: pre-wrap;
}

.donation-header {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.org-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

.org-card__donations-grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 0rem 0.25rem;
}

.org-card__donation-date,
.org-card__donation-amount,
.org-card__donation-kind {
  white-space: nowrap;
}

.org-card__donation-amount{
  text-align: right;
}

.org-card__donation--older {
  grid-column: 1 / -1;
  text-align:left;
  color: #888;
  font-style: italic;
}

.org-card__notes {
  white-space: pre-line;
}

.donations-grid {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 0.25rem 0.25rem;
}

.donations-row {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.donation-row {
  display: contents;
}

.donation-row > div {
  border-bottom: 1px solid #eee;
}

.donation-date {
  white-space: nowrap;
}

.donation-amount {
  text-align: right;
  white-space: nowrap;
}

.donation-kind {
  text-transform: capitalize;
  white-space: nowrap;
}

.donation-notes {
  overflow-wrap: break-word;
  white-space:pre-line;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
